// ■ブレイクポイント
@media (max-width:1200px){
    section{
        width: 96%;
        margin: 0 2%;
    }

    footer{
        .topicPath{    
            ul {
                padding: 20px 20px;
            }
        }
        .mainFooter{
            // color: #fff;
            // background-color: #60605a;
    
            .footer-inner{    
                padding: 15px 20px;
            }
        }
    }
}

// ■スマホ用サイズ
@media (max-width:768px){

    // スマホ用表示フラグ
    .sp_only{
        display: block;
    }
    .pc_only{
        display: none;
    }


    header{
        min-height: 80px;
    
        .headerWrapper{
            min-height: 80px;
            justify-content: center;
            // font-size: 2.4rem;
        }
        
        .hmBtn{
            position: absolute;
            cursor: pointer;
            width: 50px;
            height: 50px;

            top: 13px;
            right: 20px;
            z-index: 10;

            span{
                display: inline-block;
                transition: all .4s;
                position: absolute;
                left: 14px;
                height: 3px;
                border-radius: 2px;
                background: #fff;
                width: 50%;

                &:nth-of-type(1){
                    top: 15px;
                }
                &:nth-of-type(2){
                    top: 23px;
                }
                &:nth-of-type(3){
                    top: 31px;
                }
            }

            &.active{
                span{
                    &:nth-of-type(1){
                        top: 18px;
                        left: 18px;
                        transform: translateY(6px) rotate(-45deg);
                        // width: 50%;
                    }
                    &:nth-of-type(2){
                        opacity: 0;
                    }
                    &:nth-of-type(3){
                        top: 30px;
                        left: 18px;
                        transform: translateY(-6px) rotate(45deg);
                        // width: 50%;
                    }
                }
            }
        }
        
    }

    #navMenu{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;

        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.6);
        // -webkit-transform: translate3d(0, -100%, 0);
        // transform: translate3d(0, -100%, 0);
        // -webkit-transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;
        // transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;

        // -webkit-transform: translate3d(0, 0, 0);
        // transform: translate3d(0, 0, 0);

        z-index: 2;

        backdrop-filter: blur(12px);

        .navTitle{
            margin-top: 50px;
            text-align: center;
            font-size: 2.6rem;
            display: inline-block;

            width: 100vw;
        }
    }

    .btnSec{
        .jin-flexbox{
            .jin-shortcode-button {
                a{
                    width: 280px;
                }
            }
        }
    }

    .simple-box6{
        width: 100%;
    }
    .kaisetsu-box2{
        width: 100%;
    }

    .mainFooter{
        .footer-inner{
            justify-content: center;
            align-items: center;
            flex-direction: column;


        }
    }

    #page-top{
        right: 20px;
        bottom: 123px;
    }
}