// ■ブレイクポイント
@media (max-width:1200px){
    section{
        width: 94%;
        margin: 0 3%;
    }

    footer{
        .topicPath{    
            ul {
                padding: 20px 20px;
            }
        }
        .mainFooter{
            .footer-inner{    
                padding: 15px 20px;
            }
        }
    }
}

// ■スマホ用サイズ
@media (max-width:768px){

    // スマホ用表示フラグ
    .sp_only{
        display: block;
    }
    .pc_only{
        display: none;
    }

    header{
        min-height: 45px;
    
        #title{
            font-size: 1.9rem;
            font-weight: 700;

            letter-spacing: 1px;
        }
        .headerWrapper{
            min-height: 45px;
            justify-content: center;
        }
        
        .hmBtn{
            position: absolute;
            cursor: pointer;
            width: 50px;
            // height: 45px;
            height: 100%;

            top: 0;
            right: 20px;
            z-index: 10;

            span{
                display: inline-block;
                transition: all .4s;
                position: absolute;
                left: 14px;
                height: 3px;
                border-radius: 2px;
                background: #fff;
                width: 50%;

                &:nth-of-type(1){
                    top: 14px;
                }
                &:nth-of-type(2){
                    top: 22px;
                }
                &:nth-of-type(3){
                    top: 30px;
                }
            }

            &.active{
                span{
                    &:nth-of-type(1){
                        top: 13px;
                        left: 18px;
                        transform: translateY(6px) rotate(-45deg);
                        // width: 50%;
                    }
                    &:nth-of-type(2){
                        opacity: 0;
                    }
                    &:nth-of-type(3){
                        top: 25px;
                        left: 18px;
                        transform: translateY(-6px) rotate(45deg);
                        // width: 50%;
                    }
                }
            }
        }
        
    }

    #navMenu{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;

        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.6);
        // -webkit-transform: translate3d(0, -100%, 0);
        // transform: translate3d(0, -100%, 0);
        // -webkit-transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;
        // transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease, opacity 0.4s ease, border 0.4s ease, padding 0.4s ease, left 0.4s ease, box-shadow 0.4s ease;

        // -webkit-transform: translate3d(0, 0, 0);
        // transform: translate3d(0, 0, 0);

        z-index: 2;

        backdrop-filter: blur(12px);

        .navTitle{
            margin-top: 50px;
            text-align: center;
            font-size: 2.6rem;
            display: inline-block;

            width: 100vw;
        }
    }

    .fv{
        .category{
            margin: 5px auto 27px;
        }
    }

    .imgSec{
        img + img{
            margin-top: 20px;
        }
    }

    .btnSec{
        padding: 20px 0;

        .jin-flexbox{
            .jin-shortcode-button {
                a{
                    width: 280px;
                }
            }
        }
    }


    .h2Title{
        line-height: 2.9rem;
        padding: 10px 12px;
        margin-top: 0;
        margin-bottom: 15px;

        font-weight: 500;
        font-size: 2.3rem;

        // position: relative;
        // border-bottom: 1px solid #ddd;
        // border-left: 5px solid #2b2b2b;

        // letter-spacing: 0;

        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0px;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.05;
            background-color: #4696a3;
        }

    }

    .simple-box6{
        width: 100%;
    }
    .kaisetsu-box2{
        width: 100%;
    }


    .btnSec05{
        padding: 20px;
        margin-bottom: 30px;
    
        h2{
            margin-bottom: 13px;
            font-size: 2.2rem;
        }
    }

    .mainFooter{
        .footer-inner{
            justify-content: center;
            align-items: center;
            flex-direction: column;


        }
    }

    .totop{
        font-size: 2rem;
        padding: 9px 30px;
    }

    #page-top{
        right: 18px;
        bottom: 30px;

        .totop{
            // padding: 4px 9px;
            padding: 5px 11px;
            border-radius: 30px;
    
            width: 42px;
            height: 42px;
        }
    }
}